<div class='row'>
  <div class="btn-group">
    <%- Group.all.each do |g| -%>
      <button type='button' class='btn btn-default user_group' id=<%= g.id -%>><%= g.name.capitalize -%></button>
    <%- end -%>
  </div>
</div>

<br />

<div class='row'>
  <div id="group_form">
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $('.user_group').live('click', function() {
      $.ajax({url: '/groups/' + $(this).attr('id'), dataType: 'script' });
      $('.user_group').removeClass('active');
      $(this).addClass('active');
    })
  })
</script>
