<div class='row'>
  <div class="btn-group" style="margin-left:32px;">
    <%- Group.all.each do |g| -%>
      <button type='button' class='btn btn btn-success btn-large user_group' id=<%= g.id -%>><%= g.name.capitalize -%></button>
    <%- end -%>
  </div>
</div>

<br />

<div class='row'>
  <div id="group_form">
  </div>
</div>

<%= render partial: 'shared/group_javascripts' -%>

