<div class="logo"></div>
<div>
<p>Hello <%= @resource.full_name %>,</p>

<p>We're pleased to inform you that you are now an official member of the <%= link_to 'sprout-bespoke.com', root_url %> community.<br/>

We hope to be online as soon as possible, and will inform you as soon as we do.<br/>

In the meantime, we are looking for ways to give you the most powerful Sprout experience. Please help us help you by taking <a href="http://www.surveygizmo.com/s3/1510672/8282646ba80c"> a brief survey. </a><br/>

If you have any questions or comments, don't hesitate to contact us.<br/>

We look forward to seeing you on Sprout in the future.<br/>

Thanks Again,<br/>
The Sprout Team.
</p>

<!--<p>Please click the link below to confirm your email address and set your password:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>-->

</div>
