<p>Welcome <%= @resource.full_name %>!</p>

<p>We're pleased to inform you that you are now part of the <%= link_to 'sprout-bespoke.com', root_url %> team.</p>

<p>Please click the link below to confirm your email address and set your password:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
